* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

html,
body {
    width          : 100%;
    height         : 100%;
    /* overflow    : hidden; */
    /* position    : relative; */
    scroll-behavior: smooth;
}

#back {
    width              : 100%;
    height             : 100%;
    background-color   : white;
    padding            : 40px;
    /* padding-left    : 60px; */
    position           : relative;
    /* overflow        : hidden; */
}

nav {
    /* margin-top: 10px; */
    width                 : 100%;
    position              : absolute;
    /* background-color   : yellow; */
    display               : flex;
    justify-content       : space-evenly;
    align-items           : center;
    height                : 40px;
    left                  : 0;
    /* left               : -280px; */
    /* position           : fixed; */
}

nav a {
    text-decoration: none;
    font-family    : Gilroy ☞;
    letter-spacing : 4px;
    font-weight    : 400;
    color          : black;
}



#heading {
    position   : absolute;
    top        : 30%;
    font-family: Mollie glaston;
    font-size  : 40px;

}


#img {
    position   : absolute;
    top        : 20%;
    left       : 60%;
    z-index    : 3;
    perspective: 600px;
    width      : 437px;
    height     : 0px;
    overflow   : hidden;


}

#img #model {
    width              : 437px;
    height             : 557px;
    background-position: center;
    background-size    : cover;
    transition         : all .3s;
    position           : absolute;
    z-index            : 212321312;


}

#img #model:hover {
    transform: rotateY(-10deg);

}



#imgBox #box {
    position: absolute;
    width   : 437px;
    height  : 557px;
    top     : 19%;
    left    : 60%;



}


.active {
    width           : 133px;
    height          : 24px;
    justify-content : center;
    display         : flex;
    align-items     : center;
    background-color: #1B233B;
    color           : white;

}


p {
    width      : 800px;
    height     : 115px;
    font-family: Gilroy ☞;
    position   : absolute;
    bottom     : 14%;
    font-weight: 350;
    z-index    : 32424;
    line-height: 22px;
    z-index    : 0;

}


#line {
    width           : 720px;
    height          : 1.5px;
    background-color: black;
    position        : absolute;
    top             : 36%;
    left            : 142px;
    opacity         : .2;
}


#arrow {
    position: absolute;
    bottom  : -22px;

    width : 10%;
    height: 190px;

    display        : flex;
    justify-content: center;
    align-items    : center;


}

#arrow #arrowimg {

    bottom  : 0px;
    width   : 80px;
    height  : 80px;
    position: absolute;
    left    : 0;
    bottom  : 50px;

}

#arrow h3 {
    font-family        : Mollie glaston;
    position           : absolute;
    left               : 102px;
    width              : 100%;
    /* background-color: teal; */
}


#name {
    position: absolute;
    right   : 190px;

    bottom: 5px;

    z-index: 0;
}


#name img {
    width : 180px;
    height: 35px;
}


#arrow #works {
    animation: anime .5s ease-in-out infinite alternate-reverse;
}

@keyframes anime {
    from {
        transform: translateX(5px);
    }

    to {
        transform: translateX(0px);
    }

}


.overlay {
    width           : 100%;
    height          : 100%;
    background-color: #E8D2BB;
    position        : absolute;
    z-index         : 410;
    bottom          : -100%;
    /* display      : none; */
    transition      : 2s ease-in-out;
}



#page2 {
    width              : 100%;
    height             : 100%;
    background-color   : white;
    position           : absolute;
    z-index            : 131234;
    padding            : 20px;
    /* overflow        : hidden; */
    overflow-x         : hidden;
}


#websites {
    width              : 100%;
    height             : 150px;
    /* background-color: yellow; */
}

.nav2 {
    position  : absolute;
    margin-top: 40px;
}


.websites {
    width              : 100%;
    height             : 120px;
    /* background-color: rebeccapurple; */
    position           : absolute;
    top                : 20%;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin-top         : 100px;

}

.websites .webtab {
    width           : 0 px;
    height          : 162px;
    /* position     : relative; */
    background-color: coral;
    top             : 20%;
    margin-right    : 30px;
    overflow        : hidden;
}

#websiteshead {
    font-size     : 40px;
    font-family   : Mollie glaston;
    text-transform: uppercase;
    letter-spacing: 40px;
    color         : #111111;

}

#webimg {
    /* position: absolute; */
    background-position-y: top;
    transition           : all ease-in-out .3s;
}

/* ////////////// POST  */


.post {
    width              : 100%;
    height             : 100px;
    /* background-color: rebeccapurple; */
    position           : absolute;
    top                : 60%;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin-top         : 100px;
}

.post .posttab {
    width           : 0px;
    height          : 162px;
    /* position     : relative; */
    background-color: coral;
    top             : 20%;
    margin-right    : 30px;
    overflow        : hidden;

}

#posthead {
    font-size     : 40px;
    font-family   : Mollie glaston;
    text-transform: uppercase;
    letter-spacing: 40px;
    color         : #111111;
    margin-right  : 40px;
}

#postimg {
    /* position: absolute; */
    background-position-y: top;
    transition           : all ease-in-out .3s;

}


#postimg:hover {
    transform: scale(1.1);
}

#webimg:hover {
    transform: scale(1.1);
}



/* // PAGE 3  */


#page3 {
    width              : 100%;
    height             : 100%;
    /* background-color: #030504;   */
    position           : absolute;
    z-index            : 12121121;
    top                : 210%;
    overflow           : hidden;
    transition         : all .1s ease-in-out;


}

#head3 {
    /* color: rgb(0, 0, 0); */
    font-family: Gilroy ☞;
    font-size  : 90px;
    text-align : center;
    position   : absolute;
    top        : 50%;
    left       : 50%;
    transform  : translate(-50%, -50%);

}


.white {
    background-color: black;
    color           : white;
}



.nav3 {
    position  : absolute;
    margin-top: 40px;

}

::-webkit-scrollbar {
    width : 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius   : 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #533232;
    border-radius   : 10px;
}


#footerhead {
    font-family  : Portrait Script;
    color        : white;
    position     : absolute;
    bottom       : 0px;
    font-size    : 20px;
    left         : 50%;
    transform    : translate(-50%, 0%);
    margin-bottom: 20px;
}



#icons {
    position: absolute;

    height   : 10%;
    top      : 73%;
    left     : 50%;
    transform: translate(-73%, -50%);

}

#icons i {
    font-size   : 30px;
    margin-right: 10px;
    transition  : all ease-in-out 0.1s;

}

#icons i:hover {
    color    : rgb(199, 56, 56);
    transform: scale(1.3)
}

#linkedin {
    text-decoration: none;
    color          : white;
}

#instagramlink {
    text-decoration: none;
    color          : white;
}



/* ////////////////////// RESPONSIVE MOBILE VERSION */


@media screen and  (max-width : 411px)
{  

    html,body
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
   #back
   {
       width: 360px;
      height: 670px;
       overflow-x: hidden;
       position: absolute;
       background-color   : white;
       padding            : 40px;
       /* padding-left    : 60px; */
       position           : relative;
       /* overflow        : hidden; */
       z-index: 300;
       
   }


   .overlay {
    width           : 100%;
    height          : 90%;
    background-color: #E8D2BB;
    position        : absolute;
    z-index         : 410;
    bottom          : -130%;

    /* display      : none; */
    transition      : 2s ease-in-out;
}

nav a
{
    font-size: 10px;
    text-decoration: none;
    font-family    : Gilroy ☞;
    letter-spacing : 4px;
    font-weight    : 400;
    color          : black;
}

.active
{
    width: 100px;
    
}

@font-face {
    font-family: Mollie glaston;
    src: url(./Mollie\ Glaston.otf);
    
}
@font-face {
    font-family: Gilroy ☞;
    src: url(./Gilroy-Regular.ttf );
    
}
@font-face {
    font-family: Portrait Script;
    src: url(./PortraitScript-Regular.otf);
    
}

#heading

{
    position   : absolute;
    top        : 20%;
    font-family: Mollie glaston;
    font-size  : 40px;
    font-size: 13px;
    text-align: center;
    
}

#img 
{
    /* display: none; */
    position: absolute;
    left: 0%;
    top: 40%;
    height: 20px;
    width: 1000px;
}

#line
{
    display: none;
}
#box
{
    display: none;

}


#img #model
{
    width              : 337px;
    height             : 457px;
    background-position: center;
    background-size    : cover;
    transition         : all .3s;
    position           : absolute;
    z-index            : 212321312;
    margin-left: 7px;
}


#name
{
    position: absolute;
    /* right   : 190px; */
top: 110%;
left: 90px;    
}


p
{
    width      : 300px;
    height     : 115px;
    font-family: Gilroy ☞;
    position   : absolute;
    /* bottom     : 14%; */
    font-weight: 350;
    z-index    : 32424;
    line-height: 22px;
    z-index    : 121;
    top: 120%;
    text-align: center;
    left: 30px;
}



#arrow {
    position: absolute;
    width : 10%;
    height: 190px;

    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index: 123123;
    top: 150%;
    left: 30%;


}

#arrow h3 {
    font-family        : 'Mollie glaston';
    position           : absolute;
    left               : 102px;
    width              : 100%;
    /* background-color: teal; */
}


#page2
{
    width              : 100%;
    height             : 100%;
    background-color   : white;
    position           : absolute;
    z-index            : 4110;
    padding            : 20px;
    overflow        : hidden;
    overflow-x         : hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.websites{
    flex-direction: column;
    width              : 100%;
    height             : 120px;
    /* background-color: rebeccapurple; */
    position           : absolute;
    top                : 20%;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    margin-top         : 100px;
    right: 15px;
    left: 15px;
}

#websiteshead

{  font-size     : 15px;
    font-family   : Mollie glaston;
    text-transform: uppercase;
    letter-spacing: 15px;
    color         : #111111;
    margin-top: 20px;
    

}




#webimg
{
    width: 900x;
    height: 85px;
    transition : all ease-in-out .3s;
}




.post{
    flex-direction: column;
    width              : 100%;
    height             : 120px;
    /* background-color: rebeccapurple; */
    position           : absolute;
    top                : 50%;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    /* margin-top         : 100px; */

    
}

#posthead

{  font-size     : 15px;
    font-family   : Mollie glaston;
    text-transform: uppercase;
    letter-spacing: 15px;
    color         : #111111;
    margin-top: 20px;
    margin-left: 30px;
    

}




#postimg
{
    width: 900x;
    height: 85px;
    transition : all ease-in-out .3s;
}

.post  { 
    
 left: 13px;
 right: 5px;
}


#head3
{
    font-size: 32px;
    width: 100%;
}

#icons {
    position: absolute;
    height   : 10%;
    top      : 63%;
    left     : 47%;
   margin-left: 30px;
   
   }

   #icons i {
    font-size   : 20px;
    margin-right: 10px;
    transition  : all ease-in-out 0.1s;

}

#footerhead {
    font-family  : Portrait Script;
    color        : white;
    position     : absolute;
    bottom       : 0px;
    font-size    : 15px;
    text-align: center;
    left         : 50%;
    transform    : translate(-50%, 0%);
    margin-bottom: 20px;
}
}